h1, p {
    text-align: center;
}
li:hover {
    background-color: aqua;
}
li:active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul, ol {
    list-style: none;
}
h3:nth-of-type(1) {
    text-decoration: underline;
}